@{
    Layout = "_Layout";
}
@model Library.Models.Patron
<div class="container card">
<h4>Add a new Patron</h4>
@using(Html.BeginForm())
{
  @Html.Label("Patron Name")
  <br />
  @Html.TextBoxFor(model => model.PatronName)
  <br />
  <input type="submit" value="Add a new Patron" />
}
<br />
<p>@Html.ActionLink("Show all patrons", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>