@{
    Layout = "_Layout";
}

@using Library.Models;
<div class="container card">
    <input class="btn btn-info" type="button" value="Books" onclick='location.href="@Url.Action("Index", "Books")";' />
    <input class="btn btn-info" type="button" value="Authors" onclick='location.href="@Url.Action("Index", "Authors")";' />
    <input class="btn btn-info" type="button" value="Patrons" onclick='location.href="@Url.Action("Index", "Patrons")";' />
</div>