@{
    Layout = "_Layout";
}

@using Library.Models;
<div class="container card">

    @* <input class="btn btn-info" type="button" value="Register" onclick='location.href="@Url.Action("Register")";' /> *@
    @* <input class="btn btn-info" type="button" value="Authentication" onclick='location.href="@Url.Action("Login")";' /> *@
    <input class="btn btn-info" type="button" value="Books" onclick='location.href="@Url.Action("Index", "Books")";' />
    <input class="btn btn-info" type="button" value="Authors" onclick='location.href="@Url.Action("Index", "Authors")";' />
</div>