@{
    Layout = "_Layout";
}

@model Library.Models.Author
<div class="container card">
<h4>Add a new author</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.AuthorName)
  @Html.TextBoxFor(model => model.AuthorName)

  <input type="submit" value="Add a new author" />
}

<p>@Html.ActionLink("Show all Authors", "Index")</p>
</div>